/*body::before {
      content: "";*/
body.start {
  background-image: url("./sweethouse.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /* position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .6; */
}

.txtL {
  /*position: relative;*/
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  font-size: 50px;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; 
  text-shadow: -1px 0px 0px black, 1px 0px 0px black, 0px -1px 0px black,
    0px 1px 0px black;*/
  /* position: absolute; 
    transform: translate(50%,-50%);*/
  text-transform: uppercase;
  text-shadow: 1px 1px 1px wheat,
    1px 2px 1px rgb(253, 165, 0),
    1px 3px 1px rgb(228, 148, 0),
    -1px 3px 2px rgb(190, 124, 0),
    -1px -1px 1px rgb(165, 107, 0),
    2px -1px 2px rgb(161, 105, 0),
    1px 7px 4px rgba(56, 37, 0, 0.4),
    1px 9px 10px rgba(253, 165, 0, 0.2),
    1px 9px 35px rgba(253, 165, 0, 0.2),
    1px 9px 60px rgba(253, 165, 0, 0.4);

}

.name-bg {
  /*position: relative;*/
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
}

button {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 24px;
  /* width: 130px; */
  display: inline-block;
  height: 60px;
  border-radius: 8px;
  /* cursor: pointer; */
}

.btn-ptr {
  cursor: pointer;
}

.btn {
  background-color: rgb(255, 255, 255, 0);
  border: 0px;
  position: absolute;
}

.btn-start {
  bottom: 18%;
  right: 32%;
}

.btn-back {
  bottom: 18%;
  left: 32%;
}

.btn-start1 {
  top: 9%;
  right: 32%;
}

.btn-start2 {
  top: 40%;
  right: 32%;
}

.storytp {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 25%;
  left: 25%;
  padding: 3%;
}

.storyt::before {
  content: "";
  background-image: url("./sweet/txt.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  border-style: dashed;
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 25%;
  left: 25%;
  opacity: .6;
}

.playp {
  background-image: url("./sweet/forest.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .6; */
}

.playp2 {
  background-image: url("./sweet/sweet\ home.PNG");
  /* background-image: url("./inhouse/bgbed.jpg"); */
  /* background-image: url("./hunt/bgh5.png"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.playpo {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.go-home {
  background-image: url("./bgohome.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hunsel-gretel {
  width: 28%;
  position: absolute;
  bottom: 6%;
  right: 2%;
}

.ans {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  font-size: 30px;
  padding: 10px;
  position: absolute;
  bottom: 11%;
  left: 32%;
  border-radius: 10pt;
  border: 2pt solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;

}

.speech {
  width: 400px;
  height: 300px;
  position: absolute;
}

.talk {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  font-size: 30px;
  position: absolute;
}

.box {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 12%;
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: white;
  border-radius: 50pt;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset, rgb(255, 255, 255) 0px 0px 0px 3px, rgb(255, 255, 255) 0px 0px 0px 6px, rgb(0, 0, 0) 0px 0px 0px 9px, rgb(0, 0, 0) 0px 0px 0px 9px, rgb(247, 147, 122) 0px 0px 0px 12px, rgb(247, 147, 122) 0px 0px 0px 15px, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
  /* border-style: dashed; */
  /* border: 25px solid navy; */
  /* margin: 25px; */
}

.ex-pic {
  width: 300px;
  height: auto;
  position: absolute;
}

.ex1 {
  top: 9%;
  left: 27%;
}

.ex3 {
  bottom: 5%;
  left: 27%;
}

.ex2 {
  bottom: 36%;
  left: 27%;
}

.countpic {
  float: left;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.congp {
  width: 40%;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
}

.congt {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(53, 41, 14);
  font-size: 40px;
  position: absolute;
  top: 48%;
  left: 24%;
}

.btn-home {
  z-index:1;
  width: 8%;
  height:17%;
  right: 13%;
  top: 5%;
}

.vdohp {
  position: absolute;
  /* object-fit: contain;
  opacity: 0.8; */
  min-width: 89%;
  min-height: 60%;
  left: 4%;
}

.speech2 {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 2%;
  right: 15%;
  transform: rotate(10deg) scaleX(-1);
}

.talk2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  font-size: 30px;
  position: absolute;
  top: 25%;
  right: 22%;
}

.box-2 {
  width: 1000px;
  height: 300px;
  position: absolute;
  top: 16%;
  left: 11.5%;
}

.speech-2 {
  width: 400px;
  height: 200px;
  position: absolute;
}

.cirred {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
}

.tickg {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
}